<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>

    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>

</head>

<body ng-app='simpleEbay' ng-controller='mainCtrl'>

    <nav class="navbar navbar-inverse">
        <button class="btn btn-lg btn-main " ui-sref='home'>Home</button>
        <button class="btn btn-lg btn-main " ui-sref='auction'>Auctions</button>
        <span ng-hide='currentUser'>
            <button class="btn btn-lg btn-main" ui-sref='register'>Register</button>
            <button class="btn btn-lg btn-main" ui-sref='login'>Login</button>
        </span>
        <span ng-show='currentUser'>
            <button class="btn btn-lg btn-main" ui-sref='newAuction'>Add Auction</button>
            <button class="btn btn-lg btn-main" ng-click='logout()'>Logout</button>
            <span class='currentUser'>Hello {{currentUser.firstName}}!</span>
        </span>
    </div>

</nav>
    <div class="container">
        <div class="row">

        <ui-view></ui-view>

    </div>

</body>

</html>
